Source: nemocore
Priority: optional
Maintainer: Taehwan Kim <taehwan@nemoux.net>,
Build-Depends: debhelper (>=9), dh-systemd, cmake, pkg-config, libc6-dev, skia-dev, libpixman-1-dev, libfreetype6-dev, libharfbuzz-dev, libfontconfig1-dev, libavcodec-dev, libavformat-dev, libavutil-dev, libswscale-dev, libao-dev, libpng-dev, libjpeg-dev, libexpat1-dev, libcurl4-openssl-dev, libjson-c-dev, uuid-dev, libmongoc-dev, libbson-dev, libpulse-dev, libwayland-dev, libxkbcommon-dev, libxcb1-dev, libxcb-render0-dev, libxcb-xfixes0-dev, libxcb-composite0-dev, libxcursor-dev, libmtdev-dev, libudev-dev, liblo-dev, libdrm-dev, libgl1-mesa-dev, libegl1-mesa-dev, libgles2-mesa-dev, libgbm-dev, libdbus-1-dev, libssl-dev, libgoogle-perftools-dev, libleptonica-dev, libtesseract-dev, librsvg2-dev
#xwayland, libglu1-mesa-dev
Standards-Version: 3.9.8
Section: libs
Homepage: http://www.nemoux.net
#Vcs-Git: git://anonscm.debian.org/collab-maint/nemocore.git
#Vcs-Browser: https://anonscm.debian.org/cgit/collab-maint/nemocore.git

Package: nemocore
Priority: optional
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, pulseaudio, xwayland, skia
Description: NEMOUX's core platform libraries
 <insert long description, indented with spaces>

Package: nemocore-dev
Priority: optional
Section: libdevel
Architecture: any
#Suggests: nemocore-doc
Depends: ${shlibs:Depends}, ${misc:Depends},
    nemocore (= ${binary:Version}),  libexpat1-dev, libjson-c-dev, libpixman-1-dev, libpng-dev, libfreetype6-dev, libharfbuzz-dev, libfontconfig1-dev, libavcodec-dev, libavformat-dev, libavutil-dev, libswscale-dev, libao-dev, libxcb-render0-dev, libxcb-composite0-dev, libxcursor-dev, libxkbcommon-dev, libudev-dev, libwayland-dev, libgl1-mesa-dev, libegl1-mesa-dev, libgles2-mesa-dev, libdrm-dev, libgbm-dev, liblo-dev, skia-dev
Description: NEMOUX's core platform development files
 <insert long description, indented with spaces>

Package: nemocore-dbg
Priority: extra
Section: debug
Architecture: any
Depends: nemocore (= ${binary:Version}), 
    ${shlibs:Depends}, ${misc:Depends}
Description: NEMOUX's core platform debugging symbols
 <insert long description, indented with spaces>

Package: nemo.art
Priority: optional
Section: graphics
Architecture: any
Depends: nemocore (= ${binary:Version}),
    ${shlibs:Depends}, ${misc:Depends}
Description: NEMOUX's art shell application
 <insert long description, indented with spaces>

#Package: nemocore-doc
#Section: doc
#Architecture: all
#Depends: ${misc:Depends}
#Enhances: nemocore-dev
#Description: nemocore API Documentation

