[Unit]
Description=nemobus daemon service
Requires=network.target

[Service]
User=root
ExecStart=/usr/bin/nemobusd
Restart=always
RestartSec=10s

[Install]
WantedBy=multi-user.target
